{% extends 'base.html' %}

{% block navbar %}
<div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url 'todolist:show_todolist' %}">To Do List</a>
    <a class="btn btn-danger" href="{% url 'todolist:logout' %}">Logout</a>
</div>
{% endblock navbar %}

{% block content %}

{% load static %}

<h1>YOU ARE NOT THE OWNER OF THE TASK</h1>

<img src="{% static 'amogus.gif' %}"><br>

<button><a href="{% url 'todolist:show_todolist' %}">Return</a></button>

{% endblock content %}
