{% extends 'base.html' %}

{% block navbar %}
<div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url 'todolist:show_boardlist' %}">Board List</a>
    <a class="btn btn-danger" href="{% url 'todolist:logout' %}">Logout</a>
</div>
{% endblock navbar %}

{% block meta %}
<script>
    $(document).ready(function(){
        $( "form#modal-form" ).submit(function( event ) {
            // alert( "Handler for .submit() called." );
            event.preventDefault();

            var actionurl = event.currentTarget.action;

            $.ajax({
                    url: actionurl,
                    type: 'post',
                    dataType: 'json',
                    data: $("form#modal-form").serialize(),
                    success: function(data) {
                        data.forEach(element => {
                            $("#boardlist-card-list").append(createTasKCard(element));
                        });
                    },
                    error: function(){
                        alert("ERROR");
                    }
            });
        });

        show_boards();
    });

    function show_boards() {
        $.get("../json-board", data => {
            data.forEach(element => {
                $("#boardlist-card-list").append(createBoardCard(element));
            });
        });
    }

    function createBoardCard(element) {
        var data = element.fields

        var card_div = $('<div></div>')
            .addClass('card todolist-card mt-2 mb-2')
            .attr('id', 'board-' + element.pk);

        var card_body = $('<div class="card-body"></div>')
            .append($('<h4 class="card-title"></h4>')
                .append(data.title)
                .append($('<span></span>')
                    .addClass('badge rounded-pill')))
            .append($('<h6 class="card-subtitle mb-2 text-muted">Created on: ' + data.date + '</h6>'))
            .append($('<a class="btn btn-secondary" href="../show-board/' + element.pk + '">Show board</a>'))
            // .append($('<a class="btn btn-danger" href="#">Delete task</a>')
            //     .click(() => {
            //         $.ajax({
            //             url: './delete/' + element.pk,
            //             type: 'delete',
            //             beforeSend: function(xhr) {
            //                 xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            //             },
            //             success: () => {
            //                 $('#task-' + element.pk).remove()
            //             }
            //         });
            //     }))
            ;
        
        return card_div.append(card_body);
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
{% endblock meta %}

{% block content %}
<div class="todolist">

    <h1>Welcome, {{username}}</h1>

    <!-- <a class="btn btn-success mt-2 mb-2" href="{% url 'todolist:create_task' %}">Create a new task</a> -->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Board</button>

    <div id="boardlist-card-list" class="todolist-card-list">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Board</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="../add-board/" class="form-create-task" id="modal-form">
                    {% csrf_token %}
                    <!-- <label for="id_title">Title:</label> -->
                    <input type="text" name="title" placeholder="Title" maxlength="128" required="" id="id_title" class="form-control">
        
                    <!-- <label for="id_description">Description:</label> -->
                    <!-- <textarea name="description" placeholder="Description" cols="40" rows="10" required="" id="id_description" class="form-control"></textarea> -->
        
                    <input class="btn btn-primary mt-3" style="width: 100%;" type="submit" name="submit" value="Create" data-bs-dismiss="modal"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}
