{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block navbar %}
<div class="container-fluid">
    <a class="navbar-brand text-white" href="#">To Do List</a>
</div>
{% endblock navbar %}

{% block content %}

<div class = "container-fluid text-center mt-5">

    <h1>Login</h1>

    <form method="POST" action="" class="form-signin">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" class="form-control">
        <input type="password" name="password" placeholder="Password" class="form-control">

        <input class="btn btn-primary mt-3" type="submit" value="Login">
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}