{% extends 'base.html' %}

{% block navbar %}
<div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url 'todolist:show_todolist' %}">To Do List</a>
    <a class="btn btn-danger" href="{% url 'todolist:logout' %}">Logout</a>
</div>
{% endblock navbar %}

{% block content %}

<h3>Title</h3>
<p>{{task.title}}</p>

<h5>Date</h5>
<p>{{task.date}}</p>

<h5>Finished status</h5>
<p>{{task.is_finished}}</p>

<h5>Description</h5>
<p>{{task.description}}</p>

<button><a href="{% url 'todolist:show_todolist' %}">Return</a></button>

{% endblock content %}
