{% extends 'base.html' %}

{% block navbar %}
<div class="container-fluid">
    <a class="navbar-brand text-white" href="{% url 'todolist:show_todolist' %}">To Do List</a>
    <a class="btn btn-danger" href="{% url 'todolist:logout' %}">Logout</a>
</div>
{% endblock navbar %}

{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        show_tasks();
    });

    function show_tasks() {
        $.get("./json", data => {
            data.forEach(element => {
                var data = element.fields

                var card_div = $('<div></div>')
                    .addClass('card todolist-card mt-2 mb-2')
                    .addClass(data.is_finished ? 'border-success' : 'border-danger');

                var card_body = $('<div class="card-body"></div>')
                    .append($('<h4 class="card-title"></h4>')
                        .append(data.title)
                        .append($('<span></span>')
                            .addClass('badge rounded-pill')
                            .addClass(data.is_finished ? 'bg-success' : 'bg-danger')
                            .text(data.is_finished ? 'Finished' : 'Not Finished')))
                    .append($('<h6 class="card-subtitle mb-2 text-muted">Created on: ' + data.date + '</h6>'))
                    .append($('<p class="card-text">' + data.description + '</p>'))
                    .append($('<a class="btn btn-secondary" href="../show-task/' + element.pk + '/">Show task</a>'))
                    .append($('<a class="btn btn-primary">Change status</a>')
                        .attr('href', (data.is_finished ? '../unfinish-task/' : '../finish-task/') + element.pk + '/'))
                    .append($('<a class="btn btn-danger" href="../delete-task/' + element.pk + '/">Delete task</a>'));
                
                $("#todolist-card-list").append(card_div.append(card_body));
            });
        });
    }
</script>
{% endblock meta %}

{% block content %}
<div class="todolist">

    <h1>Welcome, {{username}}</h1>

    <a class="btn btn-success mt-2 mb-2" href="{% url 'todolist:create_task' %}">Create a new task</a>

    <div id="todolist-card-list" class="todolist-card-list">
    </div>
</div>
{% endblock content %}
