.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .btn {
    width: 100%;
}

.form-register {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-register .help-text {
    text-align: justify;
}

.form-register .btn {
    width: 100%;
}